<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oddfar.campus.business.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.oddfar.campus.business.domain.Product">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="DECIMAL"/>
        <result property="introduce" column="introduce" jdbcType="VARCHAR"/>
        <result property="image" column="image" jdbcType="VARCHAR"/>
        <result property="stock" column="stock" jdbcType="INTEGER"/>
        <result property="storeId" column="store_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,price,introduce,
        image,stock,store_id
    </sql>
</mapper>