<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oddfar.campus.business.mapper.ShoppingOrderMapper">

    <resultMap id="BaseResultMap" type="com.oddfar.campus.business.domain.ShoppingOrder">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="storeId" column="store_id" jdbcType="BIGINT"/>
        <result property="productId" column="product_id" jdbcType="BIGINT"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="isFinished" column="is_finished" jdbcType="INTEGER"/>

    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,store_id,product_id,
        created_time,is_finished
    </sql>
</mapper>